<div class="jumbotron jumbotron-fluid mt-5 text-center">
    <div class="container">
        <h2 class="display-4">Bienvenido a Codeforum</h2>
        <span class="lead">Pon tus dudas, aprende y ayuda a los demás 😋</span>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-lg mr-3" [routerLink]="['/topics']" role="button">
                Ver temas 🕵️‍♂️
            </a>
            <a class="btn btn-success btn-lg mr-3" [routerLink]="['/users']" role="button">
                Ver usuarios 🕵️‍♂️
            </a>
            <a class="btn btn-warning btn-lg" [routerLink]="['/panel/add-topic']" role="button">
                Crear temas 👨‍💻
            </a>
        </p>
    </div>
</div>
